---
import { Image } from "astro:assets";
import type { ProjectMetadata } from "~/lib/utils";

interface Props {
  project: ProjectMetadata;
  index: number;
}

const { project, index } = Astro.props;
const { data, id: slug } = project;
const { title, cover: src, category } = data;
const isFirstLoad = index < 6;
---

<div class="group w-full relative flex cursor-pointer flex-col gap-20 pb-20">
  <header class="grid lg:grid-cols-2 gap-4">
    <div>
      <span class="first-letter:uppercase text-sm">{category}</span>
      <h3 class="font-medium text-3xl leading-snug dark:text-neutral-800">
        {title}
      </h3>
    </div>

    <div class="flex flex-col gap-2">
      <p class="text-[0.8em] max-w-lg">
        {data.summary}
      </p>

      <a
        href={`/projects/${slug}`}
        title={title}
        class="cursor-pointer group/link text-[0.8em] flex items-center gap-1"
      >
        Read the case study
        <span
          class="group-hover/link:translate-x-1 opacity-0 group-hover:opacity-100 transition-all"
        >
          →</span
        >
      </a>
    </div>
  </header>
  <Image
    class="pointer-events-none w-full object-cover object-left transition-all h-[30vh] md:h-[60dvh] bg-primary"
    src={src}
    priority={isFirstLoad}
    loading={isFirstLoad ? "eager" : "lazy"}
    title={`Cover Image for ${title}`}
    alt={title}
    width={600}
    height={330}
  />
</div>
