---
import { Image } from "astro:assets";
import type { ProjectMetadata } from "~/lib/utils";

interface Props {
  project: ProjectMetadata;
  index: number;
}

const { project, index } = Astro.props;
const { data, id: slug } = project;
const { title, cover: src, category } = data;
const isFirstLoad = index < 6;
---

<div class="group w-full relative flex cursor-pointer flex-col gap-1">
  <hr class="border-t border-dashed border-primary" />

  <header class="pt-4 ">
    <span class="first-letter:uppercase">{category}</span>
    <h3 class="font-medium text-3xl leading-snug dark:text-neutral-800">
      {title}
    </h3>


    <a href={`/projects/${slug}`} title={title}> Read the case study </a>
  </header>
  <Image
    class="pointer-events-none h-auto w-full object-cover object-left transition-all md:h-[40dvh]"
    src={src}
    priority={isFirstLoad}
    loading={isFirstLoad ? "eager" : "lazy"}
    title={`Cover Image for ${title}`}
    alt={title}
    width={600}
    height={330}
  />
</div>
