---
import { Image } from "astro:assets";
import type { ProjectMetadata } from "../../lib/utils";
import GithubIcon from "../icons/GithubIcon.astro";
import NpmIcon from "../icons/NpmIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";

type Props = {
  project: ProjectMetadata;
};
const { project: p } = Astro.props;

function formatDate(date: Date) {
  const fullDate = date.toLocaleString("en-us", {
    month: "long",
    day: "numeric",
    year: "numeric",
  });

  return fullDate;
}
---

<header class="flex flex-col gap-2">
  <section class="flex flex-col gap-4">
    <a
      href-lang="en-us"
      title="Back to projects"
      href="/projects"
      class="text-neutral-500 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-300"
    >
      <span class="sr-only">Back to projects</span>← Back
    </a>
    <header
      class="relative flex min-h-[200px] items-end justify-between overflow-hidden rounded-xl md:min-h-[250px]"
      style={{
        backgroundColor: p.data.color ?? "transparent",
      }}
    >
      <div class="flex flex-col px-6 py-6">
        <span class="group flex gap-4 overflow-hidden">
          <a
            href={p.data.link ?? ""}
            href-lang="en-us"
            target="_blank"
            tab-index={p.data.link ? undefined : -1}
            class={p.data.link ? "" : "pointer-events-none"}
            aria-disabled={!p.data.link}
          >
            <h1
              title="Visit Project"
              class="balance z-10 w-fit max-w-[650px] rounded-full p-2 font-semibold text-4xl text-neutral-900 tracking-tighter md:text-7xl"
              style={{
                backgroundColor: p.data.color ?? "transparent",
              }}
            >
              {p.data.title}
            </h1>
          </a>
        </span>
        <div
          class="z-10 flex w-fit flex-col gap-1 rounded-xl p-2 py-1 font-medium text-neutral-800 text-sm sm:font-normal md:text-lg dark:text-neutral-800"
          style={{
            backgroundColor: p.data.color ?? "transparent",
          }}
        >
          <span class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up-left"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 16v-8h8"></path></svg
            >
            {formatDate(p.data.startedAt)}
          </span>
          <span class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down-left"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 8v8h8"></path></svg
            >

            {p.data.endedAt ? formatDate(p.data.endedAt) : "In Progress"}
          </span>
        </div>
      </div>
      <Image
        style={{
          mixBlendMode: "multiply",
        }}
        title={`Cover poster for the project ${p.data.title}`}
        class="-top-16 -right-60 md:-right-40 absolute opacity-50 md:opacity-100"
        src={p.data.cover}
        priority
        loading={"eager"}
        alt={p.data.title}
        width={500}
        height={500}
      />
    </header>
  </section>
  <nav class="flex w-full flex-wrap gap-2">
    {
      p.data.link ? (
        <a
          href={p.data.link}
          href-lang="en-us"
          title="Visit Project"
          class="flex h-full flex-1 animate-expand-vertically items-center justify-center gap-2 rounded-xl px-3 py-2 text-secondary-900 text-xl transition-all hover:brightness-90 sm:justify-start"
          target="_blank"
          style={{
            backgroundColor: p.data.color ?? "transparent",
          }}
          rel="noopener noreferrer"
        >
          <span class="sr-only">Link to the project</span>
          <SearchIcon />
          <span>Visit Project</span>
        </a>
      ) : null
    }
    {
      p.data.githubLink ? (
        <a
          title="Link to Github Source"
          href={p.data.githubLink}
          href-lang="en-us"
          class="flex h-full w-fit animate-expand-vertically items-center gap-2 truncate rounded-xl px-3 py-2 text-black text-xl transition-all hover:brightness-90"
          target="_blank"
          style={{
            backgroundColor: p.data.color ?? "transparent",
          }}
          rel="noopener noreferrer"
        >
          <GithubIcon />
          <span class="sr-only">Link to Github Source</span>
          <span class="hidden md:block">View Source</span>
        </a>
      ) : null
    }
    {
      p.data.npmLink ? (
        <a
          title="Link to NPM Package"
          href={p.data.npmLink}
          href-lang="en-us"
          class="flex h-full w-fit animate-expand-vertically items-center gap-2 truncate rounded-xl px-3 py-2 text-black text-xl transition-all hover:brightness-90"
          target="_blank"
          style={{
            backgroundColor: p.data.color ?? "transparent",
          }}
          rel="noopener noreferrer"
        >
          <NpmIcon />
          <span class="sr-only">Link to NPM</span>
          <span class="hidden md:block">View package</span>
        </a>
      ) : null
    }
  </nav>
</header>
