---
import { Image } from "astro:assets";
import type { ProjectMetadata } from "../../lib/utils";

interface Props {
  project: ProjectMetadata;
  index: number;
}

const { project, index } = Astro.props;
const { data, id: slug } = project;
const { title, color, cover: src } = data;
const isFirstLoad = index < 6;
---

<div
  class="group project-cascade relative flex h-64 cursor-pointer flex-col gap-1 overflow-hidden bg-transparent md:h-96"
>
  <a
    href={`/projects/${slug}`}
    style={{
      backgroundColor: color,
    }}
    title={title}
    class="flex h-full items-start outline-0 outline-primary transition-all duration-300 hover:brightness-120 focus-visible:outline-1 md:justify-center"
  >
    <Image
      style={{
        mixBlendMode: "multiply",
      }}
      class="pointer-events-none mt-20 h-auto w-full object-cover object-left transition-all md:h-[500px]"
      src={src}
      priority={isFirstLoad}
      loading={isFirstLoad ? "eager" : "lazy"}
      title={`Cover Image for ${title}`}
      alt={title}
      width={600}
      height={330}
    />
    <h3
      class="absolute top-6 left-6 z-10 mb-3 font-medium text-3xl leading-snug dark:text-neutral-800"
    >
      {title}
    </h3>
  </a>
</div>
