---
type Pricing = {
  oldPrice?: number;
  price?: number;
  title: string;
  description: string;
  features: string[];
  cta: string;
};
const pricingPacks: Pricing[] = [
  {
    oldPrice: 1499,
    price: 699,
    title: "Web corporativa",
    description:
      "Presencia digital profesional y moderna. Diseñada para destacar tu marca con elegancia.",
    features: [
      "Carga ultrarápida",
      "Hasta 5 páginas",
      "1 ronda de revisiones incluida",
      "Hosting premium",
      "Web en código personalizado",
    ],
    cta: "Empezar ahora",
  },
  {
    oldPrice: 799,
    price: 499,
    title: "Landing Page",
    description:
      "Tu web lista en 7 días. Una landing page moderna, rápida y bien pensada para atraer clientes desde el primer día.",
    features: [
      "Carga ultrarrápida",
      "Hasta 7 secciones",
      "1 ronda de revisiones incluida",
      "Hosting premium",
      "Web en código personalizado",
    ],
    cta: "Empezar ahora",
  },
  {
    title: "Presupuesto personalizado",
    description:
      "Soluciones a medida para proyectos específicos. Contacta con nosotros para un presupuesto adaptado a tus necesidades.",
    features: [
      "Tiendas online",
      "CRMs y sistemas de gestión",
      "Soluciones a medida",
      "Desarrollo custom",
      "Diseño UX/UI personalizado",
    ],
    cta: "Contactar",
  },
];

function urlMaker(title: string) {
  return `/proposal?pricing=${encodeURIComponent(title)}`;
}
---

<section class="flex flex-col gap-8">
  <header class="flex flex-col gap-4">
    <h2 class="text-xl md:text-3xl font-bold">Precios</h2>
  </header>
  <ul
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-8 font-light"
  >
    {
      pricingPacks.map((pricing) => (
        <li
          class:list={[
            "grid  bg-foreground/5 rounded-lg p-6 last:bg-linear-30 last:bg-gradient-to-r last:from-primary/20 last:to-secondary/10",
            {
              "grid-rows-[auto_1fr_auto]": pricing.oldPrice || pricing.price,
              "grid-rows-[1fr_auto]": !pricing.oldPrice && !pricing.price,
            },
          ]}
        >
          {(pricing.oldPrice || pricing.price) && (
            <header class="flex flex-col pb-4">
              {pricing.oldPrice && (
                <span class="line-through text-sm text-muted">
                  {pricing.oldPrice}€
                </span>
              )}
              {pricing.price && <span class="text-lg">{pricing.price}€</span>}
            </header>
          )}
          <div class="flex flex-col gap-2 pb-4">
            <h3 class="text-xl">{pricing.title}</h3>
            <p class="text-muted font-thin text-normal text-[1em]">
              {pricing.description}
            </p>
            <ul class="flex flex-col list-disc gap-2 pt-5">
              {pricing.features.map((feature) => (
                <li class="flex items-center gap-2 text-sm">
                  <span>&#10003;</span>
                  <span>{feature}</span>
                </li>
              ))}
            </ul>
          </div>
          <footer class="flex gap-2 items-center">
            <a
              href={urlMaker(pricing.title)}
              class="w-fit rounded-full bg-primary px-4 py-2 text-foreground font-semibold hover:bg-primary-700 transition-colors cursor-pointer"
            >
              {pricing.cta}
            </a>
          </footer>
        </li>
      ))
    }
  </ul>
</section>
